  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Assests/Backgrounds/Background4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: a;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
  }

  .logo {
    width: 120px;
    transition: transform 0.3s;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  #GameInfo {
    text-align: center;
    padding: 46px 20px;
  }

  #Agents {
    text-align: center;
    padding: 50px 20px;
  }

  .navbar{ 
    padding-top:14px ; 
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .bar{
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding:20px 15px 9px 15px; 
    transition: transform 0.3s ease, color 0.3s ease;
  }

  nav a:hover {
    transform: scale(1.1);
    color:#FF4655;
  }
  
.input[type=text] {
  max-width: 180px;
  height: 20px;
  background-color: #242424;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0px 10px 20px -18px #ee414f;
  border: 1px solid #ff4655;
  border-radius: 100px;
  transition: .10s ease;
}

.search{
  padding:15px 0 15px 1200px;
}

  h1 {
    font-size: 48px;
    margin-bottom: 40px;
    letter-spacing: 5px;
    font-family: Arial;
  }

/*  removing default button style */
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #FF4655;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.game-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    font-family:Arial;
    font-size: 20px;
    max-width: 800px;
    color: white;
  }

  .agents-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .agent-card {
    width: 200px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .agent-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #ff4655;
  }
  
  .agent-card img {
    width: 100%;
    height: auto;
  }
  
  .agent-card p {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #111;
    text-align: center;
    color:white;
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s ease;
  }

.video-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border: none;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1.5em;
  z-index: 1;
}



.valorant-footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  background: #222;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  transition: background 0.3s ease;
}

.social-icons a:hover {
  background: #444;
}

.riot-logo a{
  transition: transform 0.3s; 
}
.riot-logo img:hover {
  transform: scale(1.2);
}

.riot-logo img{
  width: 120px;
  margin: auto;
}

.footer-text {
  font-size: 14px;
  max-width: 700px;
  margin: 0 auto 20px;
  color: #aaa;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-links a {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.5s; 
}

.footer-links a:hover {
  transform: scale(1.1); 
  color: #ff4655; 
}

.esrb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.esrb img {
  width: 60px;
  margin-right: 15px;
}

.esrb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.esrb ul li {
  font-size: 12px;
  color: #ccc;
}